ENV_MODE=development
SERVICE_NAME=demo-rest-api
HOST=0.0.0.0
PORT=8000
BASE_PATH=api
TZ=Asia/Bangkok
DB_URI=
DB_PASS=
ENCRYPTION_KEY=
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
UPLOAD_LIMIT_SIZE=10
IMAGE_COMPRESS_LEVEL=70
REDIS_URI=

MQTT_HOST=
MQTT_PORT=
MQTT_PROTOCOL=
MQTT_USER=
MQTT_PASSWORD=
MQTT_PATH=
MQTT_TOPIC=demo
